{% extends 'base_bootstrap.html' %}

{% block header %}
  <!-- <h1>{% block title %}Comments{% endblock %}</h1> -->
{% endblock %}

{% block content %}
  <div class="blog-main">
    <header>
      <div class="blog-post">
        <h3>{{ post['title'] }}</h3>
        <p class="blog-post-meta">{{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</p>
      </div>
    </header>
    <p class="body">{{ post['body'] }}</p>
  </div>

  <hr />
  {% for comment in comments %}
  <!-- TODO: Indent comments to distinguish from post -->
    <div class="comment-main">
      <header>
        <p class="blog-post-meta">by {{comment['author']}} on {{comment['created'].strftime('%Y-%m-%d')}}</p>
      </header>
      <p class="body">{{ comment['body'] }}</p>
    </div>
    <hr/>
  {% endfor %}
  <form method="post">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" name="comment" id="comment"></textarea>
      <!-- <input type="submit" value=save /> -->
      <button class="btn btn-primary" type="submit" name="button">post</button>
    </div>
  </form>
{% endblock %}
