{% extends 'base_bootstrap.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
      <button type="submit" class="btn btn-primary">post</button>
    </div>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <!-- <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');"> -->
    <!-- <button id="delete_btn" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure?');">delete</button> -->
    <button id="delete_btn" type="submit" class="btn btn-danger">delete</button>
  </form>
{% endblock %}
